* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}

body.menu-open {
  overflow: hidden;
}

img,
canvas,
svg {
  max-width: 100%;
}
